In [2]:
import pandas as pd
academic = pd.read_feather('./feather/academic.feather')#.to_csv('./tables/academics.csv',index=False)

# Tables concerning inproceedings (conference articles)
improceeding = pd.read_feather('./feather/improceeding_table.feather')#.to_csv('./tables/improceedings=.csv',index=False)
author_inproceeding = pd.read_feather('./feather/author_inproceedings.feather')#.to_csv('./tables/inproceedings_authors.csv',index=False)
booktitle_improceeding = pd.read_feather('./feather/improceeding_booktitle.feather')#.to_csv('./tables/improceedings_booktitles.csv',index=False)

# All tables concerning articles(journal articles)
article = pd.read_feather('./feather/articles_table.feather')#.to_csv('./tables/articles.csv',index=False)
author_article = pd.read_feather('./feather/author_article.feather')#.to_csv('./tables/article_authors.csv',index=False)
journal = pd.read_feather('./feather/journals_table.feather')#.to_csv('./tables/journals.csv',index=False)


# All tables concerning proceedings (conference proceedings => bundled conference articles)
editor_proceeding = pd.read_feather('./feather/editor_proceedings.feather')#.to_csv('./tables/proceedings_editors.csv',index=False)
publisher_proceeding = pd.read_feather('./feather/publisher_proceeding.feather')#.to_csv('./tables/proceedings_publishers.csv',index=False)
publisher = pd.read_feather('./feather/publisher_table.feather')#.to_csv('./tables/publishers.csv',index=False)
proceeding = pd.read_feather('./feather/proceeding_table.feather')#.to_csv('./tables/proceedings.csv',index=False)
booktitle_proceeding = pd.read_feather('./feather/proceeding_booktitle.feather')#.to_csv('./tables/proceedings_booktitles.csv',index=False)

# All tables concerning booktiles (conferences)
booktitle = pd.read_feather('./feather/booktitles_table.feather')#.to_csv('./tables/booktitles.csv',index=False)

In [3]:
article

,key,title,journal_id
0,conf/www/RamamohanaraoF07,Patterns Based Classifiers.,1936
1,conf/www/ZhaiL07,Extracting Web Data Using Instance-Based Learn...,1936
2,conf/www/NguKN07,Editorial.,1936
3,conf/www/Ericsson07,The Effects of XML Compression on SOAP Perform...,1936
4,conf/www/MartinBMMPSMSS07,Bringing Semantics to Web Services with OWL-S.,1936
...,...,...,...
2987941,tr/gte/TR-0244-12-93-165,MetaObject Protocol Concepts for a RISC Object...,545
2987942,tr/gte/TR-0146-06-91-165,Towards a Transaction Management System for DOM.,545
2987943,tr/gte/TR-0222-10-92-165,DARWIN: On the Incremental Migration of Legacy...,545
2987944,tr/dec/SRC1997-018,"The 1995 SQL Reunion: People, Project, and Pol...",395
2987945,tr/ucb/erl-m79-28,Muffin: A Distributed Database Machine,1909

In [4]:
#rename columns of tables
academic.columns = ['academic_id','academic_name']
article.columns = ['article_id','article_title','journal_id']
author_article.columns = ['academic_id','article_id']
journal.columns = ['journal_id','journal_name']
proceeding.columns = ['proceeding_id','proceeding_title','year','volume']
publisher.columns = ['publisher_id','publisher_name']
booktitle.columns = ['booktitle_id','booktitle_name']
booktitle_proceeding.columns = ['proceeding_id','booktitle_id']
improceeding.columns = ['improceeding_id','improceeding_title','pages','year']
booktitle_improceeding.columns = ['improceeding_id','booktitle_id']
publisher_proceeding.columns = ['publisher_id','proceeding_id']
editor_proceeding.columns = ['academic_id','proceeding_id']
author_inproceeding.columns = ['academic_id','improceeding_id']

In [5]:
import duckdb
queryE1 = "Select publisher.publisher_name, proceeding.proceeding_title FROM publisher JOIN publisher_proceeding ON publisher.publisher_id=publisher_proceeding.publisher_id JOIN proceeding ON proceeding.proceeding_id=publisher_proceeding.proceeding_id WHERE proceeding.proceeding_title LIKE '%PODS%'"
duckdb.query(queryE1).to_df()
#publisher.value_counts()

       publisher_name                                   proceeding_title
0                 NaN  The ACM SIGMOD Anthology, CDROM Edition, Volum...
1                 ACM  Proceedings of the ACM SIGMOD/PODS PhD Symposi...
2                 ACM  Proceedings of the ACM SIGMOD/PODS PhD Symposi...
3                 ACM  Proceedings of the ACM SIGMOD/PODS PhD Symposi...
4                 ACM  Proceedings of the ACM SIGMOD/PODS PhD Symposi...
...               ...                                                ...
282369            ACM  Proceedings of the Twenty-Ninth ACM SIGMOD-SIG...
282370            ACM  Proceedings of the Twenty-Ninth ACM SIGMOD-SIG...
282371            ACM  Proceedings of the Twenty-Ninth ACM SIGMOD-SIG...
282372            ACM  Proceedings of the Twenty-Ninth ACM SIGMOD-SIG...
282373            ACM  Proceedings of the Twenty-Ninth ACM SIGMOD-SIG...

[282374 rows x 2 columns]

In [41]:
queryE2_1 = "SELECT article.article_title, journal.journal_name, academic.academic_name FROM article JOIN author_article ON author_article.article_id=article.article_id JOIN academic ON academic.academic_id=author_article.academic_id JOIN journal ON article.journal_id=journal.journal_id WHERE journal.journal_name='Theory Comput. Syst.' AND academic.academic_name='Martin Grohe' ORDER BY article.article_title"
queryE2_2 = "SELECT article.article_title, journal.journal_name, academic.academic_name FROM article, journal, author_article, academic WHERE article.journal_id=journal.journal_id AND article.article_id=author_article.article_id AND academic.academic_name='Martin Grohe' AND journal_name='Theory Comput. Syst.'"
duckdb.query(queryE2_1).to_df()

,article_title,journal_name,academic_name
0,Database Query Processing Using Finite Cursor ...,Theory Comput. Syst.,Martin Grohe
1,Learnability and Definability in Trees and Sim...,Theory Comput. Syst.,Martin Grohe
2,Tight Lower and Upper Bounds for the Complexit...,Theory Comput. Syst.,Martin Grohe

In [60]:
queryM1 = "SELECT COUNT(year) as number_of_articles_published, year FROM booktitle JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id WHERE lower(booktitle.booktitle_name) LIKE '%sigmod%' AND year='2022' GROUP BY year"
duckdb.query(queryM1).to_df()

   number_of_articles_published  year
0                           282  2022

In [121]:
queryM2 = "Select * FROM proceeding ORDER BY proceeding.year"
duckdb.query(queryM2).to_df()

,proceeding_id,proceeding_title,year,volume
0,conf/aieeire/1951,Papers and discussions presented at the 1951 J...,1951,NaN
1,conf/acm/1952t,Proceedings of the 1952 ACM national meeting (...,1952,NaN
2,conf/acm/1952p,Proceedings of the 1952 ACM national meeting (...,1952,NaN
3,conf/aieeire/1953e,Papers and discussions presented at the 1953 e...,1953,NaN
4,conf/aieeire/1953w,Proceedings of the 1953 western computer confe...,1953,NaN
...,...,...,...,...
53398,conf/intellisys/2022-1,Intelligent Systems and Applications - Proceed...,2023,542
53399,conf/intellisys/2022-2,Intelligent Systems and Applications - Proceed...,2023,543
53400,conf/intellisys/2022-3,Intelligent Systems and Applications - Proceed...,2023,544
53401,conf/dps/2022,Intelligent and Safe Computer Systems in Contr...,2023,545
53402,conf/nids/2022,Novel & Intelligent Digital Systems: Proceedin...,2023,556

In [29]:
#queryM3 = "SELECT COUNT(improceeding.improceeding_id) AS improceedings_per_year FROM booktitle JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id WHERE booktitle.booktitle_name='CIDR' GROUP BY improceeding.year"
queryM3 ="""
            SELECT MEDIAN(Frequency) FROM (
            SELECT count(improceeding.improceeding_id) as frequency,improceeding.year AS improceedings_per_year
            FROM booktitle
            JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id 
            JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id 
            WHERE booktitle.booktitle_name='CIDR'
            GROUP BY improceeding.year
            ORDER BY improceeding.year ASC
            )
            """
duckdb.query(queryM3).to_df()

   median(improceedings_per_year)
0                            45.0

In [71]:
#queryM4 = "SELECT COUNT(year), year FROM booktitle JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id WHERE booktitle.booktitle_name='SIGMOD' GROUP BY year ORDER BY year"
#
queryM4 = "SELECT MAX(improceeding_frequency_10) as number_of_SIGMOD_conference_higher_than_10_authors, ANY_VALUE(year) as year FROM (SELECT COUNT(year) as improceeding_frequency_10, year FROM (SELECT improceeding_id FROM (SELECT COUNT(improceeding.improceeding_id) as improceeding_authors, improceeding.improceeding_id FROM author_inproceeding JOIN improceeding ON improceeding.improceeding_id=author_inproceeding.improceeding_id GROUP BY improceeding.improceeding_id ORDER BY improceeding_authors) x WHERE x.improceeding_authors > 10) y JOIN improceeding ON improceeding.improceeding_id=y.improceeding_id JOIN booktitle_improceeding ON booktitle_improceeding.improceeding_id=improceeding.improceeding_id JOIN booktitle ON booktitle.booktitle_id=booktitle_improceeding.booktitle_id WHERE booktitle.booktitle_name='SIGMOD' GROUP BY year ORDER BY improceeding_frequency_10 DESC)"
duckdb.query(queryM4).to_df()

   number_of_SIGMOD_conference_higher_than_10_authors  year
0                                                 10   2018

In [72]:
#queryM5 = "SELECT COUNT(academic.academic_name) AS author_frequency, academic.academic_name FROM academic JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id WHERE proceeding.proceeding_title LIKE '%PODS%' GROUP BY academic.academic_name ORDER BY author_frequency DESC"
#SELECT TOP
queryM5 = "SELECT COUNT(academic.academic_name) AS author_frequency, academic.academic_name FROM academic JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id WHERE proceeding.proceeding_title LIKE '%PODS%' GROUP BY academic.academic_name ORDER BY author_frequency DESC"
duckdb.query(queryM5).to_df()

    author_frequency            academic_name
0                  4            Xin Luna Dong
1                  4           Peter A. Boncz
2                  3       Maurizio Lenzerini
3                  3                Dan Suciu
4                  3  Josep Lluís Larriba-Pey
5                  2        Julia Stoyanovich
6                  2          Ching-Hsien Hsu
7                  2            M. Tamer Özsu
8                  2            Leonid Libkin
9                  2        Richard Hull 0001
10                 2            Jan Paredaens
11                 2                Tova Milo
12                 2            Lei Chen 0002
13                 2             Steven Whang
14                 2              Sven Groppe
15                 2             Le Gruenwald
16                 1           Domenico Lembo
17                 1        Mary F. Fernandez
18                 1          Douglas Burdick
19                 1            Robert McCann
20                 1            Jérôme Siméon
21                 1       Sebastian Schelter
22                 1           Kostas Tzoumas
23                 1       Hans-Arno Jacobsen
24                 1    Asterios Katsifodimos
25                 1      Giansalvatore Mecca
26                 1             Luis Gravano
27                 1               AnHai Doan
28                 1      Thomas Neumann 0001
29                 1      Matthias Boehm 0001
30                 1         Paolo Guagliardo
31                 1         Sihem Amer-Yahia
32                 1               Jianwen Su
33                 1         Reinhard Pichler
34                 1              Frank Neven
35                 1        Thomas Schwentick
36                 1         Michael Benedikt
37                 1               Wenfei Fan
38                 1          Diego Calvanese
39                 1      Jan Van den Bussche
40                 1           Dirk Van Gucht
41                 1             Martin Grohe
42                 1      Christoph Koch 0001
43                 1         Gottfried Vossen
44                 1          Markus Krötzsch
45                 1            Floris Geerts
46                 1            Pablo Barceló
47                 1            Shivnath Babu
48                 1            Geert Jan Bex
49                 1        Emanuel Sallinger
50                 1  Yannis Papakonstantinou
51                 1        Sebastian Skritek
52                 1           Wang-Chiew Tan
53                 1           Yufei Tao 0001
54                 1               Zhewei Wei
55                 1               Jay Pujara
56                 0                      NaN

In [74]:
#queryM6 = "SELECT COUNT(author_inproceeding.academic_id) as number_of_improceedings, author_inproceeding.academic_id FROM academic JOIN author_inproceeding ON author_inproceeding.academic_id=academic.academic_id GROUP BY author_inproceeding.academic_id"
#queryM6 = "SELECT COUNT(author_article.academic_id) as number_of_journal_articles, author_article.academic_id FROM academic JOIN author_article ON author_article.academic_id=academic.academic_id GROUP BY author_article.academic_id"
queryM6 = "SELECT X.academic_id, number_of_improceedings, number_of_journal_articles, number_of_improceedings+number_of_journal_articles as total_publishings FROM (SELECT COUNT(author_inproceeding.academic_id) as number_of_improceedings, author_inproceeding.academic_id FROM academic JOIN author_inproceeding ON author_inproceeding.academic_id=academic.academic_id GROUP BY author_inproceeding.academic_id) X JOIN (SELECT COUNT(author_article.academic_id) as number_of_journal_articles, author_article.academic_id FROM academic JOIN author_article ON author_article.academic_id=academic.academic_id GROUP BY author_article.academic_id) Y ON X.academic_id=Y.academic_id ORDER BY total_publishings DESC"
duckdb.query(queryM6).to_df()

#

,academic_id,number_of_improceedings,number_of_journal_articles,total_publishings
0,-1,4822,16319,21141
1,968212,776,1787,2563
2,1925853,654,1213,1867
3,2979575,918,932,1850
4,2174004,955,802,1757
...,...,...,...,...
992226,3052647,1,1,2
992227,94128,1,1,2
992228,2233552,1,1,2
992229,553494,1,1,2
992230,2750754,1,1,2

In [133]:
queryH1 = "SELECT academic_id, author_inproceeding.improceeding_id, ROW_NUMBER() OVER(partition BY author_inproceeding.improceeding_id ORDER BY author_inproceeding.improceeding_id) AS author_number FROM booktitle JOIN booktitle_improceeding ON booktitle.booktitle_id=booktitle_improceeding.booktitle_id JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id JOIN author_inproceeding ON author_inproceeding.improceeding_id=improceeding.improceeding_id WHERE booktitle_name='ICDT' AND year='2022'"
duckdb.query(queryH1).to_df()

    academic_id              improceeding_id  author_number
0       1082996             conf/icdt/000122              1
1        302039           conf/icdt/0001JB22              1
2       1824564           conf/icdt/0001JB22              2
3       1193266           conf/icdt/0001JB22              3
4       1765438            conf/icdt/0001K22              1
5       1825415            conf/icdt/0001K22              2
6       2250457       conf/icdt/Addanki0MM22              1
7        182460       conf/icdt/Addanki0MM22              2
8        110151       conf/icdt/Addanki0MM22              3
9       3092439       conf/icdt/Addanki0MM22              4
10      1718257           conf/icdt/Arenas22              1
11      1192230       conf/icdt/CapelliCNR22              1
12      1295313       conf/icdt/CapelliCNR22              2
13      2026167       conf/icdt/CapelliCNR22              3
14       823330       conf/icdt/CapelliCNR22              4
15      2050728          conf/icdt/Carmeli22              1
16      2112850             conf/icdt/FanK22              1
17       273232             conf/icdt/FanK22              2
18       532990            conf/icdt/Feier22              1
19       662315   conf/icdt/FreydenbergerT22              1
20      2417809   conf/icdt/FreydenbergerT22              2
21       872402          conf/icdt/GeckKSS22              1
22      1234433          conf/icdt/GeckKSS22              2
23      2730032          conf/icdt/GeckKSS22              3
24       494373          conf/icdt/GeckKSS22              4
25      2505720    conf/icdt/GershteinAGMN22              1
26      2570570    conf/icdt/GershteinAGMN22              2
27      2776392    conf/icdt/GershteinAGMN22              3
28      1103990    conf/icdt/GershteinAGMN22              4
29      2798850    conf/icdt/GershteinAGMN22              5
30      2190281          conf/icdt/GrozLSW22              1
31      2570734          conf/icdt/GrozLSW22              2
32       273044          conf/icdt/GrozLSW22              3
33       320236          conf/icdt/GrozLSW22              4
34      1765484  conf/icdt/Kleest-Meissner22              1
35      1816220  conf/icdt/Kleest-Meissner22              2
36      2029587  conf/icdt/Kleest-Meissner22              3
37      2281582  conf/icdt/Kleest-Meissner22              4
38      2445621  conf/icdt/Kleest-Meissner22              5
39      1917391          conf/icdt/MengW0O22              1
40      1391542          conf/icdt/MengW0O22              2
41      1074163          conf/icdt/MengW0O22              3
42      1281563          conf/icdt/MengW0O22              4
43      1776399           conf/icdt/MunozR22              1
44       531754           conf/icdt/MunozR22              2
45      1777281        conf/icdt/RaszykBKT22              1
46       657564        conf/icdt/RaszykBKT22              2
47      2588956        conf/icdt/RaszykBKT22              3
48       591421        conf/icdt/RaszykBKT22              4
49      3062777              conf/icdt/Tao22              1
50       841554    conf/icdt/VandevoortK0N22              1
51       358877    conf/icdt/VandevoortK0N22              2
52       486113    conf/icdt/VandevoortK0N22              3
53       303642    conf/icdt/VandevoortK0N22              4
54           -1                conf/icdt/X22              1

In [25]:
queryH2 = ""
duckdb.query(queryH2).to_df()

In [ ]:
queryB1 = ""
duckdb.query(queryB1).to_df()

In [ ]:
queryB2 = ""
duckdb.query(queryB2).to_df()