In [9]:
import pandas as pd
academic = pd.read_feather('./feather/academic.feather')#.to_csv('./tables/academics.csv',index=False)

# Tables concerning inproceedings (conference articles)
improceeding = pd.read_feather('./feather/improceeding_table.feather')#.to_csv('./tables/improceedings=.csv',index=False)
author_inproceeding = pd.read_feather('./feather/author_inproceedings.feather')#.to_csv('./tables/inproceedings_authors.csv',index=False)
booktitle_improceeding = pd.read_feather('./feather/improceeding_booktitle.feather')#.to_csv('./tables/improceedings_booktitles.csv',index=False)

# All tables concerning articles(journal articles)
article = pd.read_feather('./feather/articles_table.feather')#.to_csv('./tables/articles.csv',index=False)
author_article = pd.read_feather('./feather/author_article.feather')#.to_csv('./tables/article_authors.csv',index=False)
journal = pd.read_feather('./feather/journals_table.feather')#.to_csv('./tables/journals.csv',index=False)


# All tables concerning proceedings (conference proceedings => bundled conference articles)
editor_proceeding = pd.read_feather('./feather/editor_proceedings.feather')#.to_csv('./tables/proceedings_editors.csv',index=False)
publisher_proceeding = pd.read_feather('./feather/publisher_proceeding.feather')#.to_csv('./tables/proceedings_publishers.csv',index=False)
publisher = pd.read_feather('./feather/publisher_table.feather')#.to_csv('./tables/publishers.csv',index=False)
proceeding = pd.read_feather('./feather/proceeding_table.feather')#.to_csv('./tables/proceedings.csv',index=False)
booktitle_proceeding = pd.read_feather('./feather/proceeding_booktitle.feather')#.to_csv('./tables/proceedings_booktitles.csv',index=False)

# All tables concerning booktiles (conferences)
booktitle = pd.read_feather('./feather/booktitles_table.feather')#.to_csv('./tables/booktitles.csv',index=False)

In [10]:
article

,key,title,journal_id
0,conf/www/RamamohanaraoF07,Patterns Based Classifiers.,1936
1,conf/www/ZhaiL07,Extracting Web Data Using Instance-Based Learn...,1936
2,conf/www/NguKN07,Editorial.,1936
3,conf/www/Ericsson07,The Effects of XML Compression on SOAP Perform...,1936
4,conf/www/MartinBMMPSMSS07,Bringing Semantics to Web Services with OWL-S.,1936
...,...,...,...
2987941,tr/gte/TR-0244-12-93-165,MetaObject Protocol Concepts for a RISC Object...,545
2987942,tr/gte/TR-0146-06-91-165,Towards a Transaction Management System for DOM.,545
2987943,tr/gte/TR-0222-10-92-165,DARWIN: On the Incremental Migration of Legacy...,545
2987944,tr/dec/SRC1997-018,"The 1995 SQL Reunion: People, Project, and Pol...",395
2987945,tr/ucb/erl-m79-28,Muffin: A Distributed Database Machine,1909

In [11]:
#rename columns of tables
academic.columns = ['academic_id','academic_name']
article.columns = ['article_id','article_title','journal_id']
author_article.columns = ['academic_id','article_id']
journal.columns = ['journal_id','journal_name']
proceeding.columns = ['proceeding_id','proceeding_title','year','volume']
publisher.columns = ['publisher_id','publisher_name']
booktitle.columns = ['booktitle_id','booktitle_name']
booktitle_proceeding.columns = ['proceeding_id','booktitle_id']
improceeding.columns = ['improceeding_id','improceeding_title','pages','year']
booktitle_improceeding.columns = ['improceeding_id','booktitle_id']
publisher_proceeding.columns = ['publisher_id','proceeding_id']
editor_proceeding.columns = ['academic_id','proceeding_id']
author_inproceeding.columns = ['academic_id','improceeding_id']

In [14]:
import duckdb
queryE1 = "Select publisher.publisher_name, proceeding.proceeding_title FROM publisher JOIN publisher_proceeding ON publisher.publisher_id=publisher_proceeding.publisher_id JOIN proceeding ON proceeding.proceeding_id=publisher_proceeding.proceeding_id WHERE proceeding.proceeding_title LIKE '%PODS%'"
duckdb.query(queryE1).to_df()
#publisher.value_counts()

       publisher_name                                   proceeding_title
0                 NaN  The ACM SIGMOD Anthology, CDROM Edition, Volum...
1                 ACM  Proceedings of the ACM SIGMOD/PODS PhD Symposi...
2                 ACM  Proceedings of the ACM SIGMOD/PODS PhD Symposi...
3                 ACM  Proceedings of the ACM SIGMOD/PODS PhD Symposi...
4                 ACM  Proceedings of the ACM SIGMOD/PODS PhD Symposi...
...               ...                                                ...
282369            ACM  Proceedings of the Twenty-Ninth ACM SIGMOD-SIG...
282370            ACM  Proceedings of the Twenty-Ninth ACM SIGMOD-SIG...
282371            ACM  Proceedings of the Twenty-Ninth ACM SIGMOD-SIG...
282372            ACM  Proceedings of the Twenty-Ninth ACM SIGMOD-SIG...
282373            ACM  Proceedings of the Twenty-Ninth ACM SIGMOD-SIG...

[282374 rows x 2 columns]

In [41]:
queryE2_1 = "SELECT article.article_title, journal.journal_name, academic.academic_name FROM article JOIN author_article ON author_article.article_id=article.article_id JOIN academic ON academic.academic_id=author_article.academic_id JOIN journal ON article.journal_id=journal.journal_id WHERE journal.journal_name='Theory Comput. Syst.' AND academic.academic_name='Martin Grohe' ORDER BY article.article_title"
queryE2_2 = "SELECT article.article_title, journal.journal_name, academic.academic_name FROM article, journal, author_article, academic WHERE article.journal_id=journal.journal_id AND article.article_id=author_article.article_id AND academic.academic_name='Martin Grohe' AND journal_name='Theory Comput. Syst.'"
duckdb.query(queryE2_1).to_df()

,article_title,journal_name,academic_name
0,Database Query Processing Using Finite Cursor ...,Theory Comput. Syst.,Martin Grohe
1,Learnability and Definability in Trees and Sim...,Theory Comput. Syst.,Martin Grohe
2,Tight Lower and Upper Bounds for the Complexit...,Theory Comput. Syst.,Martin Grohe

In [37]:
queryM1 = "Select article.article_title, journal.journal_name FROM article JOIN journal ON journal.journal_id=article.journal_id WHERE journal.journal_name='SIGMOD Rec.'"
duckdb.query(queryM1).to_df()

                                          article_title journal_name
0     An Event/Trigger Mechanism to Enforce Complex ...  SIGMOD Rec.
1     Applying database Visualization to the World W...  SIGMOD Rec.
2     The FQP Vision: Flexible Query Processing on a...  SIGMOD Rec.
3                      Spatial Database Access Methods.  SIGMOD Rec.
4     Report on DEIS'10: advanced school on data exc...  SIGMOD Rec.
...                                                 ...          ...
1821  Andrew Chien Speaks Out on the Impact of Curre...  SIGMOD Rec.
1822                                   Chair's Message.  SIGMOD Rec.
1823          A Vision of Management of Complex Models.  SIGMOD Rec.
1824  Technical Perspective: : Toward Building Entit...  SIGMOD Rec.
1825  Report on FQAS 2002: fifth international confe...  SIGMOD Rec.

[1826 rows x 2 columns]

In [121]:
queryM2 = "Select * FROM proceeding ORDER BY proceeding.year"
duckdb.query(queryM2).to_df()

,proceeding_id,proceeding_title,year,volume
0,conf/aieeire/1951,Papers and discussions presented at the 1951 J...,1951,NaN
1,conf/acm/1952t,Proceedings of the 1952 ACM national meeting (...,1952,NaN
2,conf/acm/1952p,Proceedings of the 1952 ACM national meeting (...,1952,NaN
3,conf/aieeire/1953e,Papers and discussions presented at the 1953 e...,1953,NaN
4,conf/aieeire/1953w,Proceedings of the 1953 western computer confe...,1953,NaN
...,...,...,...,...
53398,conf/intellisys/2022-1,Intelligent Systems and Applications - Proceed...,2023,542
53399,conf/intellisys/2022-2,Intelligent Systems and Applications - Proceed...,2023,543
53400,conf/intellisys/2022-3,Intelligent Systems and Applications - Proceed...,2023,544
53401,conf/dps/2022,Intelligent and Safe Computer Systems in Contr...,2023,545
53402,conf/nids/2022,Novel & Intelligent Digital Systems: Proceedin...,2023,556

In [120]:
queryM3 = "SELECT AVG(improceedings_per_year) AS Median_improceedings_per_year FROM (SELECT COUNT(improceeding.improceeding_id) AS improceedings_per_year FROM booktitle JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id WHERE booktitle.booktitle_name='CIDR' GROUP BY improceeding.year)"
duckdb.query(queryM3).to_df()

   Median_improceedings_per_year
0                          46.75

In [72]:
#queryM4 = "SELECT COUNT(year), year FROM booktitle JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id WHERE booktitle.booktitle_name='SIGMOD' GROUP BY year ORDER BY year"
queryM4 = "SELECT MAX(improceeding_frequency_10) as number_of_SIGMOD_conference_higher_than_10_authors, ANY_VALUE(year) as year FROM (SELECT COUNT(year) as improceeding_frequency_10, year FROM (SELECT improceeding_id FROM (SELECT COUNT(improceeding.improceeding_id) as improceeding_authors, improceeding.improceeding_id FROM author_inproceeding JOIN improceeding ON improceeding.improceeding_id=author_inproceeding.improceeding_id GROUP BY improceeding.improceeding_id ORDER BY improceeding_authors) x WHERE x.improceeding_authors > 10) y JOIN improceeding ON improceeding.improceeding_id=y.improceeding_id JOIN booktitle_improceeding ON booktitle_improceeding.improceeding_id=improceeding.improceeding_id JOIN booktitle ON booktitle.booktitle_id=booktitle_improceeding.booktitle_id WHERE booktitle.booktitle_name='SIGMOD' GROUP BY year ORDER BY improceeding_frequency_10 DESC)"
duckdb.query(queryM4).to_df()

   number_of_SIGMOD_conference_higher_than_10_authors  year
0                                                 10   2018

In [75]:
queryM5 = "SELECT COUNT(academic.academic_name) AS author_frequency, academic.academic_name FROM academic JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id WHERE proceeding.proceeding_title LIKE '%PODS%' GROUP BY academic.academic_name ORDER BY author_frequency DESC"
duckdb.query(queryM5).to_df()

In [24]:
queryM6 = ""
duckdb.query(queryM6).to_df()

In [ ]:
queryH1 = ""
duckdb.query(queryH1).to_df()

In [25]:
queryH2 = ""
duckdb.query(queryH2).to_df()

In [ ]:
queryB1 = ""
duckdb.query(queryB1).to_df()

In [ ]:
queryB2 = ""
duckdb.query(queryB2).to_df()