In [2]:
import pandas as pd
academic = pd.read_feather('./feather/academic.feather')#.to_csv('./tables/academics.csv',index=False)

# Tables concerning inproceedings (conference articles)
improceeding = pd.read_feather('./feather/improceeding_table.feather')#.to_csv('./tables/improceedings=.csv',index=False)
author_inproceeding = pd.read_feather('./feather/author_inproceedings.feather')#.to_csv('./tables/inproceedings_authors.csv',index=False)
booktitle_improceeding = pd.read_feather('./feather/improceeding_booktitle.feather')#.to_csv('./tables/improceedings_booktitles.csv',index=False)

# All tables concerning articles(journal articles)
article = pd.read_feather('./feather/articles_table.feather')#.to_csv('./tables/articles.csv',index=False)
author_article = pd.read_feather('./feather/author_article.feather')#.to_csv('./tables/article_authors.csv',index=False)
journal = pd.read_feather('./feather/journals_table.feather')#.to_csv('./tables/journals.csv',index=False)


# All tables concerning proceedings (conference proceedings => bundled conference articles)
editor_proceeding = pd.read_feather('./feather/editor_proceedings.feather')#.to_csv('./tables/proceedings_editors.csv',index=False)
publisher_proceeding = pd.read_feather('./feather/publisher_proceeding.feather')#.to_csv('./tables/proceedings_publishers.csv',index=False)
publisher = pd.read_feather('./feather/publisher_table.feather')#.to_csv('./tables/publishers.csv',index=False)
proceeding = pd.read_feather('./feather/proceeding_table.feather')#.to_csv('./tables/proceedings.csv',index=False)
booktitle_proceeding = pd.read_feather('./feather/proceeding_booktitle.feather')#.to_csv('./tables/proceedings_booktitles.csv',index=False)

# All tables concerning booktiles (conferences)
booktitle = pd.read_feather('./feather/booktitles_table.feather')#.to_csv('./tables/booktitles.csv',index=False)

In [3]:
article

,key,title,journal_id
0,conf/www/RamamohanaraoF07,Patterns Based Classifiers.,1936
1,conf/www/ZhaiL07,Extracting Web Data Using Instance-Based Learn...,1936
2,conf/www/NguKN07,Editorial.,1936
3,conf/www/Ericsson07,The Effects of XML Compression on SOAP Perform...,1936
4,conf/www/MartinBMMPSMSS07,Bringing Semantics to Web Services with OWL-S.,1936
...,...,...,...
2987941,tr/gte/TR-0244-12-93-165,MetaObject Protocol Concepts for a RISC Object...,545
2987942,tr/gte/TR-0146-06-91-165,Towards a Transaction Management System for DOM.,545
2987943,tr/gte/TR-0222-10-92-165,DARWIN: On the Incremental Migration of Legacy...,545
2987944,tr/dec/SRC1997-018,"The 1995 SQL Reunion: People, Project, and Pol...",395
2987945,tr/ucb/erl-m79-28,Muffin: A Distributed Database Machine,1909

In [4]:
# remove duplicated rows from all tables if they exist
improceeding = improceeding.drop_duplicates(keep='first')
author_inproceeding = author_inproceeding.drop_duplicates(keep='first')
booktitle_improceeding = booktitle_improceeding.drop_duplicates(keep='first')
article = article.drop_duplicates(keep='first')
author_article = author_article.drop_duplicates(keep='first')
journal = journal.drop_duplicates(keep='first')
editor_proceeding = editor_proceeding.drop_duplicates(keep='first')
publisher_proceeding = publisher_proceeding.drop_duplicates(keep='first')
publisher = publisher.drop_duplicates(keep='first')
proceeding = proceeding.drop_duplicates(keep='first')
booktitle_proceeding = booktitle_proceeding.drop_duplicates(keep='first')
booktitle = booktitle.drop_duplicates(keep='first')

#rename columns of tables
academic.columns = ['academic_id','academic_name']
article.columns = ['article_id','article_title','journal_id']
author_article.columns = ['academic_id','article_id']
journal.columns = ['journal_id','journal_name']
proceeding.columns = ['proceeding_id','proceeding_title','year','volume']
publisher.columns = ['publisher_id','publisher_name']
booktitle.columns = ['booktitle_id','booktitle_name']
booktitle_proceeding.columns = ['proceeding_id','booktitle_id']
improceeding.columns = ['improceeding_id','improceeding_title','pages','year']
booktitle_improceeding.columns = ['improceeding_id','booktitle_id']
publisher_proceeding.columns = ['publisher_id','proceeding_id']
editor_proceeding.columns = ['academic_id','proceeding_id']
author_inproceeding.columns = ['academic_id','improceeding_id']

In [5]:
import duckdb

#Booktitle_name
queryE1 = "Select publisher.publisher_name FROM publisher JOIN publisher_proceeding ON publisher.publisher_id=publisher_proceeding.publisher_id JOIN proceeding ON proceeding.proceeding_id=publisher_proceeding.proceeding_id WHERE proceeding.proceeding_title LIKE 'PODS' GROUP BY publisher_name"
duckdb.query(queryE1).to_df()
#publisher.value_counts()

Empty DataFrame
Columns: [publisher_name]
Index: []

In [7]:
queryE2_1 = "SELECT article.article_title FROM article JOIN author_article ON author_article.article_id=article.article_id JOIN academic ON academic.academic_id=author_article.academic_id JOIN journal ON article.journal_id=journal.journal_id WHERE journal.journal_name='Theory Comput. Syst.' AND academic.academic_name='Martin Grohe' ORDER BY article.article_title"
queryE2_2 = "SELECT article.article_title FROM article, journal, author_article, academic WHERE article.journal_id=journal.journal_id AND article.article_id=author_article.article_id AND academic.academic_name='Martin Grohe' AND journal_name='Theory Comput. Syst.'"
duckdb.query(queryE2_1).to_df()

                                       article_title
0  Database Query Processing Using Finite Cursor ...
1  Learnability and Definability in Trees and Sim...
2  Tight Lower and Upper Bounds for the Complexit...

In [60]:
queryM1 = "SELECT COUNT(year) as number_of_articles_published, year FROM booktitle JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id WHERE lower(booktitle.booktitle_name) LIKE '%sigmod%' AND year='2022' GROUP BY year"
duckdb.query(queryM1).to_df()

   number_of_articles_published  year
0                           282  2022

In [121]:
queryM2 = "Select * FROM proceeding ORDER BY proceeding.year"
duckdb.query(queryM2).to_df()

,proceeding_id,proceeding_title,year,volume
0,conf/aieeire/1951,Papers and discussions presented at the 1951 J...,1951,NaN
1,conf/acm/1952t,Proceedings of the 1952 ACM national meeting (...,1952,NaN
2,conf/acm/1952p,Proceedings of the 1952 ACM national meeting (...,1952,NaN
3,conf/aieeire/1953e,Papers and discussions presented at the 1953 e...,1953,NaN
4,conf/aieeire/1953w,Proceedings of the 1953 western computer confe...,1953,NaN
...,...,...,...,...
53398,conf/intellisys/2022-1,Intelligent Systems and Applications - Proceed...,2023,542
53399,conf/intellisys/2022-2,Intelligent Systems and Applications - Proceed...,2023,543
53400,conf/intellisys/2022-3,Intelligent Systems and Applications - Proceed...,2023,544
53401,conf/dps/2022,Intelligent and Safe Computer Systems in Contr...,2023,545
53402,conf/nids/2022,Novel & Intelligent Digital Systems: Proceedin...,2023,556

In [5]:
#queryM3 = "SELECT COUNT(improceeding.improceeding_id) AS improceedings_per_year FROM booktitle JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id WHERE booktitle.booktitle_name='CIDR' GROUP BY improceeding.year"
queryM3 ="""
            SELECT MEDIAN(Frequency) FROM (
            SELECT count(improceeding.improceeding_id) as frequency,improceeding.year AS improceedings_per_year
            FROM booktitle
            JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id 
            JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id 
            WHERE booktitle.booktitle_name='CIDR'
            GROUP BY improceeding.year
            ORDER BY improceeding.year ASC
            )
            """
duckdb.query(queryM3).to_df()

   median("Frequency")
0                 45.0

In [35]:
queryM4_1 = "SELECT COUNT(year), year FROM booktitle JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id WHERE booktitle.booktitle_name='SIGMOD' GROUP BY year ORDER BY year"

queryM4_2 = """
        SELECT * 
            FROM 
                (SELECT COUNT(year) as improceeding_frequency_10, year 
                FROM 
                    (SELECT improceeding_id 
                    FROM 
                        (SELECT COUNT(improceeding.improceeding_id) as improceeding_authors, improceeding.improceeding_id 
                        FROM author_inproceeding 
                        JOIN improceeding ON improceeding.improceeding_id=author_inproceeding.improceeding_id 
                        GROUP BY improceeding.improceeding_id 
                        ORDER BY improceeding_authors) x 
                        WHERE x.improceeding_authors > 10) y 
                        JOIN improceeding ON improceeding.improceeding_id=y.improceeding_id 
                        JOIN booktitle_improceeding ON booktitle_improceeding.improceeding_id=improceeding.improceeding_id 
                        JOIN booktitle ON booktitle.booktitle_id=booktitle_improceeding.booktitle_id 
                        WHERE booktitle.booktitle_name LIKE '%SIGMOD%' 
                        GROUP BY year 
                        ORDER BY improceeding_frequency_10 DESC)"""

#Filter > 10 not working
queryM4 = """
            SELECT MAX(improceeding_frequency_10) as number_of_SIGMOD_conference_higher_than_10_authors, ANY_VALUE(year) as year 
            FROM 
                (SELECT COUNT(year) as improceeding_frequency_10, year 
                FROM 
                    (SELECT improceeding_id 
                    FROM 
                        (SELECT COUNT(improceeding.improceeding_id) as improceeding_authors, improceeding.improceeding_id 
                        FROM author_inproceeding 
                        JOIN improceeding ON improceeding.improceeding_id=author_inproceeding.improceeding_id 
                        GROUP BY improceeding.improceeding_id 
                        ORDER BY improceeding_authors) x 
                        WHERE x.improceeding_authors > 0) y 
                        JOIN improceeding ON improceeding.improceeding_id=y.improceeding_id 
                        JOIN booktitle_improceeding ON booktitle_improceeding.improceeding_id=improceeding.improceeding_id 
                        JOIN booktitle ON booktitle.booktitle_id=booktitle_improceeding.booktitle_id 
                        WHERE booktitle.booktitle_name LIKE '%SIGMOD%' 
                        GROUP BY year 
                        ORDER BY improceeding_frequency_10 DESC)"""

duckdb.query(queryM4_1).to_df()

    count("year")  year
0              31  2012
1              41  2013
2              14  2014
3              42  2015
4              86  2016
5             106  2017
6             104  2018
7              75  2019
8              48  2020
9              29  2021
10             60  2022

In [117]:
#queryM5_1 = """SELECT COUNT(academic.academic_name) AS author_frequency, academic.academic_name FROM academic JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id WHERE proceeding.proceeding_title LIKE '%PODS%' GROUP BY academic.academic_name ORDER BY author_frequency DESC"

#Duplicates proceedings 

queryM5_0 = """
            SELECT * 
            FROM academic
            JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id
            JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id
            WHERE academic.academic_name LIKE '%Josep Llu%'
            """

queryM5_1 = """
            SELECT COUNT(academic.academic_id) AS author_frequency, ANY_VALUE(academic.academic_name)
            FROM academic 
            JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id 
            JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id 
            JOIN booktitle_proceeding ON proceeding.proceeding_id=booktitle_proceeding.proceeding_id
            JOIN booktitle ON booktitle.booktitle_id=booktitle_proceeding.booktitle_id
            WHERE booktitle.booktitle_name='PODS' 
            GROUP BY academic.academic_id
            ORDER BY author_frequency DESC"""


queryM5 = """
            SELECT academic_name, author_frequency FROM
            (SELECT COUNT(academic.academic_name) AS author_frequency, academic.academic_name 
            FROM academic 
            JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id 
            JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id 
            JOIN booktitle_proceeding ON proceeding.proceeding_id=booktitle_proceeding.proceeding_id
            JOIN booktitle ON booktitle.booktitle_id=booktitle_proceeding.booktitle_id
            WHERE booktitle.booktitle_name LIKE '%PODS%' 
            GROUP BY academic.academic_name)
            WHERE author_frequency = (SELECT MAX(author_frequency) FROM     (SELECT COUNT(academic.academic_name) AS author_frequency, academic.academic_name 
                                                                            FROM academic 
                                                                            JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id 
                                                                            JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id 
                                                                            JOIN booktitle_proceeding ON proceeding.proceeding_id=booktitle_proceeding.proceeding_id
                                                                            JOIN booktitle ON booktitle.booktitle_id=booktitle_proceeding.booktitle_id
                                                                            WHERE booktitle.booktitle_name LIKE '%PODS%' 
                                                                            GROUP BY academic.academic_name))"""
duckdb.query(queryM5).to_df()
#["proceeding_title"].value_counts()

             academic_name  author_frequency
0       Maurizio Lenzerini                 3
1            Leonid Libkin                 3
2  Josep Lluís Larriba-Pey                 3

In [118]:
#Find the academic with the most publishings, and give the academic_id back (together with the amount of publishings)
queryM6_1 = """
            SELECT MAX(Z.total_publishings), ANY_VALUE(Z.academic_id)
            FROM
            (SELECT X.academic_id, number_of_improceedings, number_of_journal_articles, number_of_improceedings+number_of_journal_articles as total_publishings
            FROM 
                (SELECT COUNT(author_inproceeding.academic_id) as number_of_improceedings, author_inproceeding.academic_id 
                FROM academic 
                JOIN author_inproceeding ON author_inproceeding.academic_id=academic.academic_id 
                GROUP BY author_inproceeding.academic_id) X 
                JOIN 
                    (SELECT COUNT(author_article.academic_id) as number_of_journal_articles, author_article.academic_id 
                    FROM academic 
                    JOIN author_article ON author_article.academic_id=academic.academic_id 
                    GROUP BY author_article.academic_id) Y 
                ON X.academic_id=Y.academic_id ORDER BY total_publishings DESC) Z
            WHERE NOT(Z.academic_id=-1)"""

#Giving a academic_id (here hardcoded as '968212') give there number of different conferences published (in this case 90)
queryM6_2 = """
            SELECT COUNT(booktitle_name) FROM
            (SELECT COUNT(booktitle.booktitle_name), booktitle.booktitle_name FROM booktitle
            JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id
            JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id
            JOIN author_inproceeding ON author_inproceeding.improceeding_id=improceeding.improceeding_id
            JOIN academic ON academic.academic_id=author_inproceeding.academic_id
            WHERE academic.academic_id=968212
            GROUP BY booktitle.booktitle_name)"""

#Combine both subqueries from above
queryM6 = """
            SELECT COUNT(booktitle_name) AS number_of_different_conferences_published FROM
            (SELECT COUNT(booktitle.booktitle_name), booktitle.booktitle_name FROM booktitle
            JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id
            JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id
            JOIN author_inproceeding ON author_inproceeding.improceeding_id=improceeding.improceeding_id
            JOIN academic ON academic.academic_id=author_inproceeding.academic_id
            WHERE academic.academic_id=(SELECT A.academic_id
                                        FROM
                                        (SELECT MAX(Z.total_publishings), ANY_VALUE(Z.academic_id) AS academic_id
                                        FROM
                                        (SELECT X.academic_id, number_of_improceedings, number_of_journal_articles, number_of_improceedings+number_of_journal_articles as total_publishings
                                        FROM 
                                            (SELECT COUNT(author_inproceeding.academic_id) as number_of_improceedings, author_inproceeding.academic_id 
                                            FROM academic 
                                            JOIN author_inproceeding ON author_inproceeding.academic_id=academic.academic_id 
                                            GROUP BY author_inproceeding.academic_id) X 
                                            JOIN 
                                                (SELECT COUNT(author_article.academic_id) as number_of_journal_articles, author_article.academic_id 
                                                FROM academic 
                                                JOIN author_article ON author_article.academic_id=academic.academic_id 
                                                GROUP BY author_article.academic_id) Y 
                                            ON X.academic_id=Y.academic_id ORDER BY total_publishings DESC) Z
                                        WHERE NOT(Z.academic_id=-1)) A)
            GROUP BY booktitle.booktitle_name)
            """

duckdb.query(queryM6).to_df()

#

   number_of_different_conferences_published
0                                         90

In [6]:
queryH1_1 = """
        SELECT academic_id, author_inproceeding.improceeding_id, improceeding.improceeding_title
        FROM booktitle 
        JOIN booktitle_improceeding ON booktitle.booktitle_id=booktitle_improceeding.booktitle_id 
        JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id 
        JOIN author_inproceeding ON author_inproceeding.improceeding_id=improceeding.improceeding_id 
        WHERE booktitle_name LIKE '%ICDT%' AND year='2020'"""

#This query should work, but looks to heavy
queryH1_2 = """
                SELECT a1.academic_name, a2.academic_name, COUNT(*) as num_improceedings
                FROM academic a1
                JOIN author_inproceedings ai1 ON a1.academic_id = ai1.academic_id
                JOIN improceeding i ON ai1.improceeding_id = i.improceeding_id
                JOIN booktitle_improceeding bi ON i.improceeding_id = bi.improceeding_id
                JOIN booktitle b ON bi.booktitle_id = b.booktitle_id
                JOIN author_inproceedings ai2 ON ai1.improceeding_id = ai2.improceeding_id
                JOIN academic a2 ON ai2.academic_id = a2.academic_id
                WHERE a1.academic_id < a2.academic_id AND b.booktitle_name = 'ICDT' AND i.year = 2020
                GROUP BY a1.academic_name, a2.academic_name
                ORDER BY num_improceedings DESC
                """

duckdb.query(queryH1_2).to_df()

:

:

In [25]:
queryH2 = ""
duckdb.query(queryH2).to_df()

In [ ]:
queryB1 = ""
duckdb.query(queryB1).to_df()

In [ ]:
queryB2 = ""
duckdb.query(queryB2).to_df()