In [1]:
import pandas as pd
academic = pd.read_feather('./feather/academic.feather')#.to_csv('./tables/academics.csv',index=False)

# Tables concerning inproceedings (conference articles)
improceeding = pd.read_feather('./feather/improceeding_table.feather')#.to_csv('./tables/improceedings=.csv',index=False)
author_inproceeding = pd.read_feather('./feather/author_inproceedings.feather')#.to_csv('./tables/inproceedings_authors.csv',index=False)
booktitle_improceeding = pd.read_feather('./feather/improceeding_booktitle.feather')#.to_csv('./tables/improceedings_booktitles.csv',index=False)

# All tables concerning articles(journal articles)
article = pd.read_feather('./feather/articles_table.feather')#.to_csv('./tables/articles.csv',index=False)
author_article = pd.read_feather('./feather/author_article.feather')#.to_csv('./tables/article_authors.csv',index=False)
journal = pd.read_feather('./feather/journals_table.feather')#.to_csv('./tables/journals.csv',index=False)


# All tables concerning proceedings (conference proceedings => bundled conference articles)
editor_proceeding = pd.read_feather('./feather/editor_proceedings.feather')#.to_csv('./tables/proceedings_editors.csv',index=False)
publisher_proceeding = pd.read_feather('./feather/publisher_proceeding.feather')#.to_csv('./tables/proceedings_publishers.csv',index=False)
publisher = pd.read_feather('./feather/publisher_table.feather')#.to_csv('./tables/publishers.csv',index=False)
proceeding = pd.read_feather('./feather/proceeding_table.feather')#.to_csv('./tables/proceedings.csv',index=False)
booktitle_proceeding = pd.read_feather('./feather/proceeding_booktitle.feather')#.to_csv('./tables/proceedings_booktitles.csv',index=False)

# All tables concerning booktiles (conferences)
booktitle = pd.read_feather('./feather/booktitles_table.feather')#.to_csv('./tables/booktitles.csv',index=False)

In [2]:
article

,key,title,journal_id
0,conf/www/RamamohanaraoF07,Patterns Based Classifiers.,1936
1,conf/www/ZhaiL07,Extracting Web Data Using Instance-Based Learn...,1936
2,conf/www/NguKN07,Editorial.,1936
3,conf/www/Ericsson07,The Effects of XML Compression on SOAP Perform...,1936
4,conf/www/MartinBMMPSMSS07,Bringing Semantics to Web Services with OWL-S.,1936
...,...,...,...
2987941,tr/gte/TR-0244-12-93-165,MetaObject Protocol Concepts for a RISC Object...,545
2987942,tr/gte/TR-0146-06-91-165,Towards a Transaction Management System for DOM.,545
2987943,tr/gte/TR-0222-10-92-165,DARWIN: On the Incremental Migration of Legacy...,545
2987944,tr/dec/SRC1997-018,"The 1995 SQL Reunion: People, Project, and Pol...",395
2987945,tr/ucb/erl-m79-28,Muffin: A Distributed Database Machine,1909

In [3]:
# remove duplicated rows from all tables if they exist
improceeding = improceeding.drop_duplicates(keep='first')
author_inproceeding = author_inproceeding.drop_duplicates(keep='first')
booktitle_improceeding = booktitle_improceeding.drop_duplicates(keep='first')
article = article.drop_duplicates(keep='first')
author_article = author_article.drop_duplicates(keep='first')
journal = journal.drop_duplicates(keep='first')
editor_proceeding = editor_proceeding.drop_duplicates(keep='first')
publisher_proceeding = publisher_proceeding.drop_duplicates(keep='first')
publisher = publisher.drop_duplicates(keep='first')
proceeding = proceeding.drop_duplicates(keep='first')
booktitle_proceeding = booktitle_proceeding.drop_duplicates(keep='first')
booktitle = booktitle.drop_duplicates(keep='first')

#rename columns of tables
academic.columns = ['academic_id','academic_name']
article.columns = ['article_id','article_title','journal_id']
author_article.columns = ['academic_id','article_id']
journal.columns = ['journal_id','journal_name']
proceeding.columns = ['proceeding_id','proceeding_title','year','volume']
publisher.columns = ['publisher_id','publisher_name']
booktitle.columns = ['booktitle_id','booktitle_name']
booktitle_proceeding.columns = ['proceeding_id','booktitle_id']
improceeding.columns = ['improceeding_id','improceeding_title','pages','year']
booktitle_improceeding.columns = ['improceeding_id','booktitle_id']
publisher_proceeding.columns = ['publisher_id','proceeding_id']
editor_proceeding.columns = ['academic_id','proceeding_id']
author_inproceeding.columns = ['academic_id','improceeding_id']

In [4]:
# create the duckdb database in memory
import duckdb
conn = duckdb.connect()
cursor = conn.cursor()

# create tables

# academic table
cursor.execute('CREATE TABLE academic AS SELECT * FROM academic')

# Create the 'improceeding' table
cursor.execute('CREATE TABLE improceeding AS SELECT * FROM improceeding')

# Create the 'author_inproceeding' table
cursor.execute('CREATE TABLE author_inproceeding AS SELECT * FROM author_inproceeding')


# Create the 'booktitle_improceeding' table
cursor.execute('CREATE TABLE booktitle_improceeding AS SELECT *  FROM booktitle_improceeding')


# Create the 'article' table
cursor.execute('CREATE TABLE article AS SELECT * FROM article')

# Create the 'author_article' table
cursor.execute('CREATE TABLE author_article AS SELECT * FROM author_article')

# Create the 'journal' table
cursor.execute('CREATE TABLE journal AS SELECT * FROM journal')


# Create the 'editor_proceeding' table
cursor.execute('CREATE TABLE editor_proceeding AS SELECT * FROM editor_proceeding')


# Create the 'publisher_proceeding' table
cursor.execute('CREATE TABLE publisher_proceeding AS SELECT * FROM publisher_proceeding')


# Create the 'publisher' table
cursor.execute('CREATE TABLE publisher AS SELECT * FROM publisher')

# Create the 'proceeding' table
cursor.execute('CREATE TABLE proceeding AS SELECT * FROM proceeding')

# Create the 'booktitle_proceeding' table
cursor.execute('CREATE TABLE booktitle_proceeding AS SELECT * FROM booktitle_proceeding')


# Create the 'booktitle' table
cursor.execute('CREATE TABLE booktitle AS SELECT * FROM booktitle')

In [5]:
import duckdb

# Create the index
cursor = conn.cursor()
cursor.execute("CREATE INDEX academic_article_index ON author_article (academic_id, article_id)")
cursor.execute("CREATE INDEX booktitle_improceeding_idx ON booktitle_improceeding (booktitle_id)")
cursor.execute("CREATE INDEX improceeding_idx ON improceeding (improceeding_id)")

In [7]:
# This query gives back the publisher(s) that had as proceeding_title 'PODS' in it. The NaN has been excluded. 
queryE1 = """
            SELECT publisher.publisher_name 
            FROM publisher 
            JOIN publisher_proceeding ON publisher.publisher_id=publisher_proceeding.publisher_id 
            JOIN proceeding ON proceeding.proceeding_id=publisher_proceeding.proceeding_id 
            WHERE proceeding.proceeding_title LIKE '%PODS%' AND publisher.publisher_name IS NOT NULL
            GROUP BY publisher_name
            """

E1 = cursor.execute(queryE1).fetchdf()
E1

  publisher_name
0            ACM
1            CWI

In [8]:
# This query gives back the articles that have been published in the journal 'Theory Comput. Syst.' and written by 'Martin Grohe' 
queryE2 = """
            SELECT article.article_title 
            FROM article JOIN author_article ON author_article.article_id=article.article_id 
            JOIN academic ON academic.academic_id=author_article.academic_id 
            JOIN journal ON article.journal_id=journal.journal_id 
            WHERE journal.journal_name='Theory Comput. Syst.' 
            AND academic.academic_name='Martin Grohe' 
            ORDER BY article.article_title
            """

E2 = cursor.execute(queryE2).fetchdf()
E2

                                       article_title
0  Database Query Processing Using Finite Cursor ...
1  Learnability and Definability in Trees and Sim...
2  Tight Lower and Upper Bounds for the Complexit...

In [8]:
# This query is going the GROUP BY year to find the number of published articles for each year,
# this if filtered to only count the articles with as booktlte_name having 'sigmod' in the name and in the year 2022
# So we get back the number of articlees published in 2022 with as booktitle like 'sigmod'. 
queryM1 = """
            SELECT COUNT(year) as number_of_articles_published, year 
            FROM booktitle 
            JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id 
            JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id 
            WHERE lower(booktitle.booktitle_name) LIKE '%sigmod%' 
            AND year='2022' 
            GROUP BY year
            """

M1 = cursor.execute(queryM1).fetchdf()
M1

   number_of_articles_published  year
0                           282  2022

In [121]:
queryM2 = """Select * FROM proceeding ORDER BY proceeding.year"""
duckdb.query(queryM2).to_df()

,proceeding_id,proceeding_title,year,volume
0,conf/aieeire/1951,Papers and discussions presented at the 1951 J...,1951,NaN
1,conf/acm/1952t,Proceedings of the 1952 ACM national meeting (...,1952,NaN
2,conf/acm/1952p,Proceedings of the 1952 ACM national meeting (...,1952,NaN
3,conf/aieeire/1953e,Papers and discussions presented at the 1953 e...,1953,NaN
4,conf/aieeire/1953w,Proceedings of the 1953 western computer confe...,1953,NaN
...,...,...,...,...
53398,conf/intellisys/2022-1,Intelligent Systems and Applications - Proceed...,2023,542
53399,conf/intellisys/2022-2,Intelligent Systems and Applications - Proceed...,2023,543
53400,conf/intellisys/2022-3,Intelligent Systems and Applications - Proceed...,2023,544
53401,conf/dps/2022,Intelligent and Safe Computer Systems in Contr...,2023,545
53402,conf/nids/2022,Novel & Intelligent Digital Systems: Proceedin...,2023,556

In [16]:
# This is a subquery that is going to list all the improceedings published in each year using COUNT, GROUP BY and WHERE
# to filter only the booktitle's with as name 'CIDR' 
queryM3_1 = """
            SELECT COUNT(improceeding.improceeding_id) as frequency, improceeding.year AS improceedings_per_year
            FROM booktitle
            JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id = booktitle.booktitle_id
            JOIN improceeding ON improceeding.improceeding_id = booktitle_improceeding.improceeding_id
            WHERE booktitle.booktitle_name LIKE '%CIDR%'
            GROUP BY improceeding.year
            ORDER BY improceeding.year
            """

# This query uses the PERCENTILE_CONT function, but the MEDIAN function would also be used.
# With the list given above it is simply going to take the median of it using the function just cited. 
queryM3 = """
            SELECT PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY frequency) as median_frequency
            FROM (
            SELECT count(improceeding.improceeding_id) as frequency, improceeding.year AS improceedings_per_year
            FROM booktitle
            JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id = booktitle.booktitle_id
            JOIN improceeding ON improceeding.improceeding_id = booktitle_improceeding.improceeding_id
            WHERE booktitle.booktitle_name = 'CIDR'
            GROUP BY improceeding.year
            ORDER BY improceeding.year 
            )
            """

M3 = cursor.execute(queryM3).fetchdf()
M3

   median_frequency
0              45.0

In [28]:
# This subquery is going to give back all improceedings that have more than 10 authors. 
queryM4_1 = """
            SELECT * FROM 
            (SELECT COUNT(improceeding.improceeding_id) as improceeding_authors, improceeding.improceeding_id 
            FROM author_inproceeding 
            JOIN improceeding ON improceeding.improceeding_id=author_inproceeding.improceeding_id 
            GROUP BY improceeding.improceeding_id 
            ORDER BY improceeding_authors) x 
            WHERE x.improceeding_authors > 10
            """

# This subquery is going to give back a list of the number of improceedings for each year, same as queryM3_1. 
# But there is an additional layer (using (sub)queryM4_1) to filter to improceedings with at least 10 authors. 
queryM4_2 = """
        SELECT * 
            FROM 
                (SELECT COUNT(year) as improceeding_frequency_10, year 
                FROM 
                    (SELECT improceeding_id 
                    FROM 
                        (SELECT COUNT(improceeding.improceeding_id) as improceeding_authors, improceeding.improceeding_id 
                        FROM author_inproceeding 
                        JOIN improceeding ON improceeding.improceeding_id=author_inproceeding.improceeding_id 
                        GROUP BY improceeding.improceeding_id 
                        ORDER BY improceeding_authors) x 
                        WHERE x.improceeding_authors > 10) y 
                        JOIN improceeding ON improceeding.improceeding_id=y.improceeding_id 
                        JOIN booktitle_improceeding ON booktitle_improceeding.improceeding_id=improceeding.improceeding_id 
                        JOIN booktitle ON booktitle.booktitle_id=booktitle_improceeding.booktitle_id 
                        WHERE booktitle.booktitle_name LIKE '%SIGMOD%' 
                        GROUP BY year 
                        ORDER BY improceeding_frequency_10 DESC)"""
 
# This query is simply going to take the max of improceedings from the list made by (sub)queryM4_2, 
# it is also going to give in which the year it was. 
queryM4 = """
            SELECT MAX(improceeding_frequency_10) as number_of_SIGMOD_conference_higher_than_10_authors, ANY_VALUE(year) as year 
            FROM 
                (SELECT COUNT(year) as improceeding_frequency_10, year 
                FROM 
                    (SELECT improceeding_id 
                    FROM 
                        (SELECT COUNT(improceeding.improceeding_id) as improceeding_authors, improceeding.improceeding_id 
                        FROM author_inproceeding 
                        JOIN improceeding ON improceeding.improceeding_id=author_inproceeding.improceeding_id 
                        GROUP BY improceeding.improceeding_id 
                        ORDER BY improceeding_authors) x 
                        WHERE x.improceeding_authors > 10) y 
                        JOIN improceeding ON improceeding.improceeding_id=y.improceeding_id 
                        JOIN booktitle_improceeding ON booktitle_improceeding.improceeding_id=improceeding.improceeding_id 
                        JOIN booktitle ON booktitle.booktitle_id=booktitle_improceeding.booktitle_id 
                        WHERE booktitle.booktitle_name LIKE '%SIGMOD%' 
                        GROUP BY year 
                        ORDER BY improceeding_frequency_10 DESC)"""

M4 = cursor.execute(queryM4).fetchdf()
M4

   number_of_SIGMOD_conference_higher_than_10_authors  year
0                                                 13   2020

In [31]:
# This subquery is going to give the list of the editors and the number of times they published in the PODS conferences. 
queryM5_1 = """
            SELECT COUNT(academic.academic_id) AS author_frequency, ANY_VALUE(academic.academic_name)
            FROM academic 
            JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id 
            JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id 
            JOIN booktitle_proceeding ON proceeding.proceeding_id=booktitle_proceeding.proceeding_id
            JOIN booktitle ON booktitle.booktitle_id=booktitle_proceeding.booktitle_id
            WHERE booktitle.booktitle_name LIKE '%PODS%' 
            GROUP BY academic.academic_id
            ORDER BY author_frequency DESC"""

# This query is going to use the subquery M5_1 to find the list from above. 
# Now the goal is to give back everytime all the editors that have the same maximum number. 
# This cannot be done with a function like LIMIT or OFFSET which would give a hardcoded top list. 
# So this has been done so that it gives back all the editors with the same (maximum) frequencies. 
# This maximum is taking from another subquery. 
queryM5 = """
            SELECT academic_name, author_frequency FROM
            (SELECT COUNT(academic.academic_name) AS author_frequency, academic.academic_name 
            FROM academic 
            JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id 
            JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id 
            JOIN booktitle_proceeding ON proceeding.proceeding_id=booktitle_proceeding.proceeding_id
            JOIN booktitle ON booktitle.booktitle_id=booktitle_proceeding.booktitle_id
            WHERE booktitle.booktitle_name LIKE '%PODS%' 
            GROUP BY academic.academic_name)
            WHERE author_frequency = (SELECT MAX(author_frequency) FROM     (SELECT COUNT(academic.academic_name) AS author_frequency, academic.academic_name 
                                                                            FROM academic 
                                                                            JOIN editor_proceeding ON academic.academic_id=editor_proceeding.academic_id 
                                                                            JOIN proceeding ON proceeding.proceeding_id=editor_proceeding.proceeding_id 
                                                                            JOIN booktitle_proceeding ON proceeding.proceeding_id=booktitle_proceeding.proceeding_id
                                                                            JOIN booktitle ON booktitle.booktitle_id=booktitle_proceeding.booktitle_id
                                                                            WHERE booktitle.booktitle_name LIKE '%PODS%' 
                                                                            GROUP BY academic.academic_name))"""

M5 = cursor.execute(queryM5_1).fetchdf()
M5

    author_frequency any_value(academic.academic_name)
0                  3                Maurizio Lenzerini
1                  3                     Leonid Libkin
2                  3           Josep LluÃ­s Larriba-Pey
3                  2                 Yannis Velegrakis
4                  2             George H. L. Fletcher
5                  2                     Xin Luna Dong
6                  2                 Kostas Stefanidis
7                  2             Laks V. S. Lakshmanan
8                  2               Jan Van den Bussche
9                  2                 Richard Hull 0001
10                 2                     Jan Paredaens
11                 2                         Dan Suciu
12                 2                         Tova Milo
13                 2                  Georgia Koutrika
14                 2                   Mirek Riedewald
15                 2                  Akhil Arora 0001
16                 2           Arnab Bhattacharya 0001
17                 1                     M. Tamer Ã–zsu
18                 1                  Senjuti Basu Roy
19                 1                        Jianwen Su
20                 1                  Reinhard Pichler
21                 1                 Thomas Schwentick
22                 1                  Michael Benedikt
23                 1                        Wenfei Fan
24                 1                     Catriel Beeri
25                 1                   Diego Calvanese
26                 1                    Dirk Van Gucht
27                 1                      Martin Grohe
28                 1                 Stijn Vansummeren
29                 1                      Alin Deutsch
30                 1               Christoph Koch 0001
31                 1                    Marcelo Arenas
32                 1                   Markus KrÃ¶tzsch
33                 1                     Floris Geerts
34                 1                     Pablo BarcelÃ³
35                 1                           Chen Li
36                 1                     Lei Chen 0002
37                 1                Theodore L. Willke
38                 1                 Emanuel Sallinger
39                 1                 Sebastian Skritek
40                 1                    Wang-Chiew Tan
41                 1                    Yufei Tao 0001
42                 1                        Zhewei Wei
43                 1                    Peter A. Boncz
44                 1                 Mohamed A. Sharaf
45                 1                    Domenico Lembo
46                 1                  Robert West 0001
47                 1                       Shourya Roy
48                 1                  Melanie Herschel
49                 1                  Paolo Guagliardo

In [35]:
# This subquery finds the academic with the most publishings (in conferences & journals combined), 
# and give the academic_id back (together with the amount of publishings)
queryM6_1 = """
            SELECT MAX(Z.total_publishings), ANY_VALUE(Z.academic_id)
            FROM
            (SELECT X.academic_id, number_of_improceedings, number_of_journal_articles, number_of_improceedings+number_of_journal_articles as total_publishings
            FROM 
                (SELECT COUNT(author_inproceeding.academic_id) as number_of_improceedings, author_inproceeding.academic_id 
                FROM academic 
                JOIN author_inproceeding ON author_inproceeding.academic_id=academic.academic_id 
                GROUP BY author_inproceeding.academic_id) X 
                JOIN 
                    (SELECT COUNT(author_article.academic_id) as number_of_journal_articles, author_article.academic_id 
                    FROM academic 
                    JOIN author_article ON author_article.academic_id=academic.academic_id 
                    GROUP BY author_article.academic_id) Y 
                ON X.academic_id=Y.academic_id ORDER BY total_publishings DESC) Z
            WHERE NOT(Z.academic_id=-1)"""

# This query gives there number of different conferences published (in this case 90) given an academic_id (here hardcoded as '968212')
queryM6_2 = """
            SELECT COUNT(booktitle_name) FROM
            (SELECT COUNT(booktitle.booktitle_name), booktitle.booktitle_name FROM booktitle
            JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id
            JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id
            JOIN author_inproceeding ON author_inproceeding.improceeding_id=improceeding.improceeding_id
            JOIN academic ON academic.academic_id=author_inproceeding.academic_id
            WHERE academic.academic_id=968212
            GROUP BY booktitle.booktitle_name)"""

# Now for this query, we combine the two precedent queries together, subqueryM6_1 to find the academic_id 
# and subqueryM6_2 to find the number of different conferences that academic has published. 
queryM6 = """
            SELECT COUNT(booktitle_name) AS number_of_different_conferences_published FROM
            (SELECT COUNT(booktitle.booktitle_name), booktitle.booktitle_name FROM booktitle
            JOIN booktitle_improceeding ON booktitle_improceeding.booktitle_id=booktitle.booktitle_id
            JOIN improceeding ON improceeding.improceeding_id=booktitle_improceeding.improceeding_id
            JOIN author_inproceeding ON author_inproceeding.improceeding_id=improceeding.improceeding_id
            JOIN academic ON academic.academic_id=author_inproceeding.academic_id
            WHERE academic.academic_id=(SELECT A.academic_id
                                        FROM
                                        (SELECT MAX(Z.total_publishings), ANY_VALUE(Z.academic_id) AS academic_id
                                        FROM
                                        (SELECT X.academic_id, number_of_improceedings, number_of_journal_articles, number_of_improceedings+number_of_journal_articles as total_publishings
                                        FROM 
                                            (SELECT COUNT(author_inproceeding.academic_id) as number_of_improceedings, author_inproceeding.academic_id 
                                            FROM academic 
                                            JOIN author_inproceeding ON author_inproceeding.academic_id=academic.academic_id 
                                            GROUP BY author_inproceeding.academic_id) X 
                                            JOIN 
                                                (SELECT COUNT(author_article.academic_id) as number_of_journal_articles, author_article.academic_id 
                                                FROM academic 
                                                JOIN author_article ON author_article.academic_id=academic.academic_id 
                                                GROUP BY author_article.academic_id) Y 
                                            ON X.academic_id=Y.academic_id ORDER BY total_publishings DESC) Z
                                        WHERE NOT(Z.academic_id=-1)) A)
            GROUP BY booktitle.booktitle_name)
            """

M6 = cursor.execute(queryM6).fetchdf()
M6

   number_of_different_conferences_published
0                                         90

In [40]:
# This query gives back the authors of academic_id '168668' in a list and the number of times they published with them.
# A LIMIT 1 could be used to just keep the most frequent author (or one of them).  
queryH1_1 = """
                SELECT academic2.academic_name, COUNT(*) as coauthor_count
                FROM author_article author_article1
                JOIN author_article author_article2 ON author_article1.article_id = author_article2.article_id
                JOIN academic academic1 ON author_article1.academic_id = academic1.academic_id
                JOIN academic academic2 ON author_article2.academic_id = academic2.academic_id
                WHERE academic1.academic_id = '168668' AND academic2.academic_id != '168668'
                GROUP BY academic2.academic_name
                ORDER BY coauthor_count DESC
                """

# The goal for the query is to do the same as the previous querycnd but doing it for every academic_id. 
queryH1 = """
                SELECT ANY_VALUE(academic1.academic_id), ANY_VALUE(academic1.academic_name), ANY_VALUE(academic2.academic_name) as coauthor, COUNT(*) as coauthor_count
                FROM author_article author_article1
                JOIN author_article author_article2 ON author_article1.article_id = author_article2.article_id
                JOIN academic academic1 ON author_article1.academic_id = academic1.academic_id
                JOIN academic academic2 ON author_article2.academic_id = academic2.academic_id
                WHERE academic2.academic_id != academic1.academic_id
                GROUP BY academic1.academic_id, academic2.academic_name
                ORDER BY academic1.academic_id, coauthor_count DESC
            """

H1 = cursor.execute(queryH1_1).fetchdf()
H1

       academic_name  coauthor_count
0  Donatella Firmani               3
1     Paolo Merialdo               3
2   Denilson Barbosa               2
3   Antonio Matinata               2
4    Tommaso Teofili               1

In [45]:
# This query will look up if the two academics given are co-author of an improceeding, if they are the query will give 0 back, otherwise 1. 
queryH2_1 = """
            SELECT 
            CASE 
                WHEN academic1.academic_id IN (SELECT academic_id 
                                        FROM author_inproceeding 
                                        WHERE improceeding_id IN 
                                            (SELECT improceeding_id 
                                            FROM author_inproceeding 
                                            WHERE academic_id = academic2.academic_id)) 
                                        THEN 0
                ELSE 1
            END AS distance
            FROM academic academic1
            JOIN academic academic2 ON academic1.academic_id <> academic2.academic_id
            WHERE academic1.academic_name = 'Maurizio Lenzerini' AND academic2.academic_name = 'Martin Grohe'
            """

# This query should count the distance between two given academics. By using "WITH RECURSIVE" and applying the shortest past algorithm. 
queryH2 = """
            WITH RECURSIVE co_publishers AS (
              SELECT academic1.academic_id, academic2.academic_id AS co_publisher_id, 0 AS distance
              FROM academic academic1
              JOIN author_inproceeding author_inproceeding1 ON academic1.academic_id = author_inproceeding1.academic_id
              JOIN author_inproceeding author_inproceeding2 ON author_inproceeding1.improceeding_id = author_inproceeding2.improceeding_id AND author_inproceeding2.academic_id <> academic1.academic_id
              JOIN academic academic2 ON author_inproceeding2.academic_id = academic2.academic_id
              WHERE academic1.academic_name = 'Maurizio Lenzerini'
              UNION ALL
              SELECT co_publishers.academic_id, academic3.academic_id AS co_publisher_id, co_publishers.distance + 1 AS distance
              FROM co_publishers
              JOIN author_inproceeding author_inproceeding1 ON co_publishers.co_publisher_id = author_inproceeding1.academic_id
              JOIN author_inproceeding author_inproceeding2 ON author_inproceeding1.improceeding_id = author_inproceeding2.improceeding_id AND author_inproceeding2.academic_id <> co_publishers.co_publisher_id
              JOIN academic academic3 ON author_inproceeding2.academic_id = academic3.academic_id
            )
            SELECT MIN(distance) AS distance
            FROM co_publishers
            WHERE co_publisher_id IN (SELECT academic_id FROM academic WHERE academic_name = 'Martin Grohe')
            """

H2 = cursor.execute(queryH2).fetchdf()
H2

Error: Invalid Error: bad allocation

In [6]:
# The query returns the names of all pairs of academics who have edited the same proceedings, 
# but excludes pairs where the academics are the same.
queryB1 = """
                SELECT academic1.academic_name, academic2.academic_name
                FROM academic academic1
                JOIN editor_proceeding editor_proceeding1 ON academic1.academic_id = editor_proceeding1.academic_id
                JOIN proceeding ON editor_proceeding1.proceeding_id = proceeding.proceeding_id
                JOIN editor_proceeding editor_proceeding2 ON proceeding.proceeding_id = editor_proceeding2.proceeding_id
                JOIN academic academic2 ON editor_proceeding2.academic_id = academic2.academic_id
                WHERE academic1.academic_id <> academic2.academic_id
        """

duckdb.query(queryB1).to_df()

# B1 = cursor.execute(queryB1).fetchdf()
# B1

              academic_name        academic_name_2
0       Claudia MÃ¼ller-Birn             SÃ¶ren Auer
1              Noopur Raval           Susanne Boll
2         Amanda Lee Hughes         Monika BÃ¼scher
3               Zijian Ding        Guillaume Zahnd
4                 Edith Law            Haoqi Zhang
...                     ...                    ...
434273     Slimane Hammoudi  Manuel I. Capel TuÃ±Ã³n
434274       Lotfi A. Zadeh       Yingxu Wang 0002
434275       Lotfi A. Zadeh           Youakim Badr
434276     Slimane Hammoudi         Markus Helfert
434277     Slimane Hammoudi          Wassim Jaziri

[434278 rows x 2 columns]

In [19]:
queryB2 = """
            """

,academic_name,booktitle_name,improceeding_title,proceeding_title
0,Alfredo Cuzzocrea,DOLAP,Towards Local Post-hoc Recommender Systems Exp...,Proceedings of the sixteenth international wor...
1,Johann Eder,ADBIS (Short Papers),OCEL: A Standard for Object-Centric Event Logs.,"Advances in Databases and Information Systems,..."
2,Ladjel Bellatreche,DOLAP,Towards Local Post-hoc Recommender Systems Exp...,Proceedings of the sixteenth international wor...
3,Kostas Stefanidis,DOLAP,Towards Local Post-hoc Recommender Systems Exp...,Proceedings of the 24th International Workshop...
4,Pavel Zezula,SISAP,Similarity vs. Relevance: From Simple Searches...,Similarity Search and Applications - 6th Inter...
...,...,...,...,...
9393971,Theresa Ahearn,SMC,Multi-task based Image Aesthetics Quality Eval...,Driving Scientific and Engineering Discoveries...
9393972,Becky Verastegui,SMC,Multi-task based Image Aesthetics Quality Eval...,Driving Scientific and Engineering Discoveries...
9393973,Arthur Barney Maccabe,SMC,A Dataset and System for Real-Time Gun Detecti...,Driving Scientific and Engineering Discoveries...
9393974,Theresa Ahearn,SMC,A Dataset and System for Real-Time Gun Detecti...,Driving Scientific and Engineering Discoveries...
9393975,Becky Verastegui,SMC,A Dataset and System for Real-Time Gun Detecti...,Driving Scientific and Engineering Discoveries...